# Markdown

# Includes octopress (http://octopress.org/) snippets

snippet [
	[${1:text}](http://${2:address} "${3:title}")

snippet [:
	[${1:id}]: http://${2:url} "${3:title}"

snippet ![
	![${1:alttext}](${2:/images/image.jpg} "${3:title}")

snippet ![:
	![${1:id}]: ${2:url} "${3:title}"

snippet ```
	```${1:lang}
	${2:code_snippet}
	```

snippet table
	 ${1:foo} | ${2:bar} | ${3:baz}
	-----|-----|-----
	     |     |